# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Model Checkpoints
checkpoints/*.pth

# Dataset
data/raw/

# Output Files
outputs/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Streamlit
.streamlit/secrets.toml
